body, article {
	width: 500px;
	margin: auto;
	text-align: center;
}

p {
	color: red !important;
}

.mainText{
	color: #dddadd;
}

.mainText{
	width:800px;
}

.articleContainer{
	background-color: #FFFFFF;
}

h1 {
	font-size: 40px;
}

.postAuthor {
	font-size: 20px;
}

footer {
	background-color: #444444;
	padding: 30px 10px;
	border-top: 5px solid white;
	color: white;
	font-size: 10px;
	text-align: center;
}

header {
	text-align: center;
}

header:hover {
	background-color:white;
}

div:hover {
	background-color: #00FF00;
}